acknowledgements.rst filter=lfs diff=lfs merge=lfs -crlf
bl1 filter=lfs diff=lfs merge=lfs -crlf
bl2 filter=lfs diff=lfs merge=lfs -crlf
bl2u filter=lfs diff=lfs merge=lfs -crlf
bl31 filter=lfs diff=lfs merge=lfs -crlf
bl32 filter=lfs diff=lfs merge=lfs -crlf
build filter=lfs diff=lfs merge=lfs -crlf
contributing.rst filter=lfs diff=lfs merge=lfs -crlf
dco.txt filter=lfs diff=lfs merge=lfs -crlf
docs filter=lfs diff=lfs merge=lfs -crlf
drivers filter=lfs diff=lfs merge=lfs -crlf
fdts filter=lfs diff=lfs merge=lfs -crlf
include filter=lfs diff=lfs merge=lfs -crlf
lib filter=lfs diff=lfs merge=lfs -crlf
license.rst filter=lfs diff=lfs merge=lfs -crlf
maintainers.rst filter=lfs diff=lfs merge=lfs -crlf
Makefile filter=lfs diff=lfs merge=lfs -crlf
make_helpers filter=lfs diff=lfs merge=lfs -crlf
mk_cscope.sh filter=lfs diff=lfs merge=lfs -crlf
plat filter=lfs diff=lfs merge=lfs -crlf
readme.rst filter=lfs diff=lfs merge=lfs -crlf
services filter=lfs diff=lfs merge=lfs -crlf
tools filter=lfs diff=lfs merge=lfs -crlf
